<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Smoke Tests Run" verbose="1" parallel="tests" thread-count="3">

    <test name="Firefox">
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="com.google.tests"></package>
        </packages>
    </test>

    <!--    <test name="Opera">-->
    <!--        <parameter name="browser" value="opera"/>-->
    <!--        <packages>-->
    <!--            <package name="com.google.tests"></package>-->
    <!--        </packages>-->
    <!--    </test>-->

    <test name="Chrome">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="com.google.tests"></package>
        </packages>
    </test>

    <test name="Edge">
        <parameter name="browser" value="edge"/>
        <packages>
            <package name="com.google.tests"></package>
        </packages>
    </test>
</suite>